/* colors */

$color-main: #3A3A39;
$color-accent: #006E9C;

$color-text: $color-main;

/* forms & co */
$color-form-text: $color-text;
$color-form-background: #F6F6F6;
$color-form-error: #cc0000;
$color-form-focus: #3A3A39;
$color-form-placeholder: #A9A9A9;

/* colors end */

@import "mixins";
@import "forms";

/* text definitions  */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size:16px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
h1{
  color: $color-accent;
  &:after{
    content: ' ';
    display: block;
    border-bottom: 1px solid $color-accent;
    width: 50px;
    margin: 20px auto 30px;
  }
}
.centered{
  text-align: center;
}
.mod_article{
  border:2px solid #000;
  padding:20px;
}
//Message Box //

#message{
  background: $color-form-background;
  padding: 20px;
  margin-bottom:40px;
  p{
    &:before{
      content:url("../images/icons/close.svg");
      width: 12px;
      margin-right: 12px;
      display: inline-block;
    }
    &.valid{
      &:before{
        content:url("../images/icons/icons8-checkmark.svg");
        margin-right: 12px;
        display: inline-block;
      }
    }
  }
}
ul{
  padding-left:0;
  @include media-breakpoint-up(sm){
    padding-left:30px;
  }
  li{
    margin-bottom:15px;
  }
}